#viewDiv{
 margin: auto;
 height: 75%;
 width: 50%;
 top:10%;
 bottom:0;
 left: 0;
 right: 0;
 padding: .5%;
 background-color: white;
}

#tableDiv{
 margin: auto;
 height: 25%;
 width: 50%;
 top:10%;
 bottom:0;
 left: 0;
 right: 0;
 padding: .5%;
 background-color: white;
}

.Header{
 color: white;
 text-align: center;
}

body{
 background-color: black;
}

.MapElements{
  text-align: center;
  color:white;
}

.TopLine{
  Width:50%;
  margin:1% auto;
}

.Outer_Box{
  bottom:45%;
  display: inline;
  color: white;
}
